.dropdown-search {
    position: relative;
  }
  
#search-input {
    padding: 12px;
    border: none;
    width: 100px;
    margin-bottom: 10px;
}
  
#select-options {
    width: 100%;
    padding: 12px;
    border: none;
    border-top: none;
}

body {
    margin: 0;
}

* {
  box-sizing: border-box;
}


/* HEADER */

#header {
    text-align: center;
    padding: 40px 0 20px 0;
}

.header__image {
    height: 100px;
}

/* MAIN */

#main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1440px;
    margin: auto;
}

/* SEARCHBAR */

#searchbar {
    position: relative;
    margin: 0 100px;
}

.searchbar__input {
    border: none;
    width: calc(100% - 24px);
    height: 50px;
    padding-left: 20px;
    
    font-size: 18px;
    background: #E7E7E7;
    border-radius: 5px;
}

.searchbar__icon {
    position: absolute;

    font-size: 30px;
    right: 30px;
    top: 11px;
}

/* TAGS */

#tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 100px;
    color: #fff;
}

.tag {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
}

.tag__text {
    font-size: 14px;
}

.tag__icon {
    cursor: pointer;
}

.ingredients-tag{
    background: #3282F7;
}

.appliances-tag{
    background: #68D9A4;
}

.ustensils-tag{
    background: #ED6454;
}



/* FILTERS */

#filters{
    margin: 0 100px;
    padding: 0px;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter{
    height: 69px;
    max-width: 600px;
    color: white;
    border-radius: 5px;
    padding: 0px;
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#ingredients-filter.active, #appliances-filter.active, #ustensils-filter.active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.filter__header{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 10px;
    column-gap: 30px;
    width: 100%;
    height: 100%;
    height: 100%;
}

.filter__list, .filter__search, .active .filter__title{
    display: none;
}

.active .filter__list, .active .filter__search{
    display: flex;
}

.active .filter__list{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    padding: 10px 10px;
    z-index: 1;
}

.filter__icon::before {
    cursor: pointer;
    /* transform: rotate(0deg); */
}
 
.active .filter__icon {
    transform: rotate(180deg);
}

#ingredients-filter, #ingredients-filter .filter__list{
    background: #3282F7;
}

#appliances-filter, #appliances-filter .filter__list{
    background: #68D9A4;
}

#ustensils-filter, #ustensils-filter .filter__list{
    background: #ED6454;
}

.filter__search{
    outline: none;
    width: calc(100% - 45px);
    margin: 0px;
    border: none;
    background-color: transparent;
    height: 69px;
}

.filter__search::placeholder{
    color: white;
    opacity: 0.8;
}

.filter__item{
    display: flex;
    align-items: center;
    width: 180px;
    cursor: pointer;
}

/* #filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 20px;
    margin: 0 100px;
}

.filter {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0 30px;
     justify-content: center;

    max-width: 600px;
    height: 70px;
    border-radius: 5px;
    color: #fff;
}
#ingredients-filter, #ingredients-list {
    background: #3282F7;
}
#appliances-filter, #appliances-list {
    background: #68D9A4;
}
#ustensils-filter, #ustensils-list {
    background: #ED6454;
}

.filter__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: space-around; 
    align-items: center;
    gap: 0 30px;

    padding: 0 15px;
    width: 100%;
    height: 100%;
}

.filter__search, .filter__list, .active .filter__title {
    display: none;
}

.active .filter__list, .active .filter__search {
    display: flex;
}

.active .filter__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 20px;

    width: 100%;
    z-index: 1;

    padding: 10px;
}

.filter__title {
    font-family: 'Lato';
    font-weight: 700;
}

.filter__search {
    width: calc(100%-45px);
    margin: 0;
    outline: none;
}

.filter__search::placeholder {
    color: #fff;
    opacity: .8;
}

.filter__icon {
    cursor: pointer;
    transform: rotate(0deg);
}

.active .filter__icon {
    transform: rotate(180deg);
} */

/* .filter__list {
    display: none;
    visibility: hidden;
} */

/* RECIPE */

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin: 0 100px;
}

.recipe {
    display: flex;
    flex-direction: column;
    background: #E7E7E7;
    padding-bottom: 20px;
    border-radius: 5px;

    flex-basis: 100%;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .recipe {
        flex-basis: 45%;
        width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    .recipe {
        flex-basis: 30%;
        max-width: 30%;
    }
}

    .recipe__image {
        background: #C7BEBE;
        height: 180px;
        border-radius: 5px 5px 0 0;
    }

    .recipe__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

        .recipe__name {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 18px;
            margin: 0;
        }

        .recipe__duration {

        }

            .recipe__time {
                margin-left: 2px;
                font-family: 'Lato';
                font-weight: 700;
                font-size: 18px;
            }
    
    .recipe__footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        margin: 0 20px;
        font-size: 13px;
        font-weight: 400;
    }

        .recipe__foods {
            width: 100%;
            font-family: 'Lato';
        }

        .recipe__food {
            margin: 0;
        }

            .recipe__food--bold {
                font-weight: 700;
            }


        .recipe__desc {
            width: 100%;
            height: fit-content;
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            font-family: 'Roboto';
        }